<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mitigation!</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  </head>
  <body>
    <div class='titleArea'>
      <h1 id='title'> Welcome to Mitigation: </h1>
      <h2 id='subtitle'>A game of global domination, void of dice rolls</h1>
    </div>
    <div class="inputArea">
      <button id="start-game"> Would you like to start a new game or join an existing one. </button>

    </div>

    <div class=map-area>
      <% include ./map.svg %>
    </div>







    <script src='./main.js'></script>
  </body>
</html>
